<!DOCTYPE html>
<html ng-app="redditApp">
<head>

  <meta charset="utf-8">
  <title>Read Some Reddits!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


</head>
<body ng-controller="redditCtrl as ctrl">

  <div style="container" >

  <ul ng-if="ctrl.reddit.data.children">
    <li ng-repeat="story in ctrl.reddit.data.children">
      {{story.data.title}} &mdash; {{story.data.ups}}
    </li>
  </ul>

  <h4 ng-if="ctrl.reddit.errorMsg">{{ctrl.reddit.errorMsg}}</h4>

  <pre>{{ctrl.reddit | json}}</pre>

  </div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="app/js/RedditAjaxFactory.js"></script>
<script src="app/js/app.js"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</body>
</html>
