<!DOCTYPE html>
<html ng-app="redditApp">
<head>

  <meta charset="utf-8">
  <title>Read Some Reddits!</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="app/css/app.css">
</head>
<body class="container-fluid" ng-controller="redditCtrl as ctrl">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Read Some Reddits!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h1 ng-if="ctrl.reddit.errorMsg"><small>{{ctrl.reddit.errorMsg}}</small></h1>

      <ul class="list-unstyled" ng-if="ctrl.reddit.data.children">
        <li ng-repeat="story in ctrl.reddit.data.children">
          <a href="{{story.data.url}}" target="_blank">
            <h4>{{story.data.title}} &mdash; {{story.data.ups}}</h4>
          </a>
      </ul>
    </div>
  </div>




  <pre>{{ctrl.reddit | json}}</pre>

  </div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="app/js/RedditAjaxFactory.js"></script>
<script src="app/js/app.js"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</body>
</html>
