<!DOCTYPE html>
<html ng-app="redditApp">
<head>

  <meta charset="utf-8">
  <title>Trending Reddits</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app/css/app.css">
</head>
<body class="container-fluid" ng-controller="redditCtrl as ctrl">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <h1 class="hidden-xs">Trending Reddits <i class="fa fa-reddit"></i></h1>
      <h2 class="visible-xs">Trending Reddits <i class="fa fa-reddit"></i></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

      <h1 ng-if="ctrl.reddit.errorMsg"><small>{{ctrl.reddit.errorMsg}}</small></h1>

      <ul class="list-unstyled" ng-if="ctrl.reddit.data.children">
        <li ng-repeat="story in ctrl.reddit.data.children">
          <a href="{{story.data.url}}" target="_blank">
            <div class="img-container hidden-xs">
              <img src="{{story.data.thumbnail}}" ng-if="story.data.thumbnail">
            </div>

            <div class="ups-container">
              <h4><span class="label label-default">{{story.data.ups}}</span></h4>
            </div>

            <h4 class="story-title">{{story.data.title}}</h4>
          </a>
        </li>
        <li><h3 class="text-center">That's all folks!</h3></li>
      </ul>
    </div>
  </div>




  <!-- <pre>{{ctrl.reddit | json}}</pre> -->

  </div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="app/js/RedditAjaxFactory.js"></script>
<script src="app/js/app.js"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
</body>
</html>
